@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 40%;
  border-radius: 50px;
  margin: 7px;
}
.webname {
  line-height: 19px;
  font-size: 20px;
  text-align: center;
  font-family: "Pacifico", cursive;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
  background-color: rgb(45, 21, 48);
}
.nav-list {
  color: rgb(255, 255, 255);
  width: 70%;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}
.nav-list li {
  list-style: none;
  padding: 16px 29px;
}
.nav-list li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.nav-list li a:hover {
  text-decoration: none;
  color: rgb(229, 152, 248);
}
.rightNav {
  width: 30%;
  padding: 4px 23px;
  text-align: right;
}

.background {
  background: rgba(0, 0, 0, 0.55) url("../img/bg.png");
  background-size: cover;
  background-blend-mode: darken;
}
.firstSection {
  height: 100vh;
}
.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  max-width: 75%;
  margin: auto;
  height: 80%;
}
.firstHalf {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.secondHalf {
  width: 30%;
}
.secondHalf img {
  width: 80%;

  display: block;
  margin: auto;
}
.text-big {
  font-size: 35px;
}
.text-small {
  font-size: 19px;
}
.btn {
  padding: 8px 20px;
  margin: 7px 3px;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 18px;
  background: none;
  color: white;
  cursor: pointer;
}
.btn-sm {
  padding: 3px 10px;
  vertical-align: middle;
}
.btn:hover {
  background: rgb(242, 213, 255);
  color: rgb(45, 21, 48);
}
/* cards */

.mainbox {
  border: 10px solid black;
  background:  url("../img/bookimgg.jpg")
  
  /* background-color: rgb(191, 157, 223); */

}
.mainbox :hover {
  background-color: rgb(116, 0, 106);
  color: rgb(241, 148, 218);
   border-radius: 5px;
  cursor: pointer;
  transform: translateY(-5px);
}
.card {
  background-color: rgb(75, 38, 109);
  color: white;
  width: 20%;
  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  margin: 2%;
  text-align: center;
  padding: 10px;
}


.bookname {
  padding: 10px;
}

.bookname h1 {
  font-size: 20px;
}

.bookinformation {
  padding: 3px;
  padding-top: 10px;
}
/* cardend */

.section {
  /* background-color: rgb(48, 0, 54); */
  background:  url("../img/galaxy.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100%;
  margin: auto;
  padding: 10px;
  color: white
}



.txt {
  line-height: 20px;
  font-size: 15px;
  font-family: "Pacifico", cursive;
}

.paras {
  padding: 0px 65px;
}
.sectionTag {
  padding: 16px, 0;
}

.sectionSubTag {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.thumbnail img {
  width: 250px;
 
  margin-top: 9px;
}

.followus{
  
  color: #fff;
  text-align: center; 
  background: rgba(0, 0, 0, 0.6) url("../img/bg.png");
  background-size: cover;
  background-blend-mode: darken;
}
.followus li{
  list-style: none;
    padding: 6px 29px;
   

}
.followus li a{

    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.followus li a:hover{
    text-decoration: none;
    color: rgb(228, 118, 255);
    

}


.foott {
  background-color: rgb(0, 0, 0);
}
.text-footer {
  text-align: center;
  padding: 5px 0;
  font-family: unset;
  font-size: 18px;
  display: flex;
  justify-content: center;
  color: white;

}
.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5px;
  top: 15px;
}
.line {
  width: 33px;
  background-color: #fff;
  height: 4px;
  margin: 3px 3px;
}
